
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:3000/css/dashboardStyle.css">
</head>
<body>
    
    <div class="box-wrap">
        <div class="table-wrap">
            <div class="button-container">
                <button id="accept" class="button accept-button" style="width: 200px;">
                    <a href="logout">logout</a>
                </button> 
                <input id="cancel" class="button cancel-button" style="width: 200px;" onclick="openForm()" type="submit" value="Create new contact">  
            </dev>
            <table>
                <thead>
                    <tr>
                        <th>sr no.</th>
                        <th>Name</th>
                        <th>phone no.</th>
                        <th>address</th>
                        <th>status</th>
                        <th>option</th>
                    </tr>
                </thead>
                <tbody>

                    <% contacts.forEach(contact=>{ %>
                        <tr>
                            <td><%= contact.id %></td>
                            <td><%= contact.name %></td>
                            <td><%= contact.phoneNo %></td>
                            <td><%= contact.address %></td>
                            <td><%= contact.status %></td>
                            <td>
                                <form action="/dashboard/<%= contact.id %>?method=delete" method="post">
                                    <div class="button-container">
                                        <input id="cancel" class="button cancel-button" type="submit" value="Delete">   
                                    </dev>
                                    <div class="button-container" id="accept" class="button accept-button">
                                        <button id="accept" class="button accept-button">
                                            <a href="/dashboard/<%= contact.id %>">Update</a>
                                        </button>
                                    </div>
                                </form>
                                <!-- <a href="/dashboard/<%= contact.id %>">
                                    <input type="submit" value="Update">    
                                </a> -->
                            </td>
                        </tr>
                    <% }) %>
                    
                  
                </tbody>
            </table>
            <br>


            <div class="form-popup" id="myForm" style="display: none;">
                    <h1>create new contact</h1>

                    <form action="/dashboard" method="post" class="form-container">
                        <input type="text" placeholder="name" name="name">
                        <input type="text" placeholder="phoneNo" name="phoneNo" required>
                        <input type="text" placeholder="address" name="address">
                        <input type="text" placeholder="status" name="status">
                        <input type="submit" value="CREATE" class="button accept-button">
                        <button id="accept" class="button cancel-button" style="width: 200px;" onclick="closeForm()">Close</button>   
                    </form>

            </div>
        </div>
    </div>
    <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
    </script>
</body>
</html>
