<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= mymessage%></title>
    <link rel="stylesheet" href="http://localhost:3000/css/usersstyle.css">
</head>
<body>
    
    <%- include('components/validation-error') -%>

    <% if(message){ %>
        <h4><%= message %></h4>
    <% } %>

    <div>
        <form action="/user" method="post">
            <input type="text" placeholder="id" name="id">
            <input type="text" placeholder="fname" name="fname">
            <input type="text" placeholder="lname" name="lname">
            <input type="text" placeholder="email" name="email">
            <input type="text" placeholder="password" name="password">
            <input type="submit">
        </form>
    </div>
     <h1><%= msg %></h1>
     <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>FNAME</th>
                <th>LNAME</th>
                <th>EMAIL</th>
                <th>PASSWORD</th>
                <th>OPRATION</th>
            </tr>
         </thead>
         <tbody>
            <% users.forEach(user=>{ %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.fname %></td>
                    <td><%= user.lname %></td>
                    <td><%= user.email %></td>
                    <td><%= user.password %></td>
                    <td>
                        <form action="/user/<%= user.id %>?method=delete" method="post">
                            <input type="submit" value="remove">
                        </form>
                        <a href="/user/<%= user.id %>">update</a>
                    </td>
                </tr>
            <% }) %>
            
         </tbody>
     </table>
</body>
</html>